<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbUCJ7Bwvn8RlM2JduPX8fCnhIVfJmPWY</string>
	<key>GCM_SENDER_ID</key>
	<string>599139585480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zespeedo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zespeedo-ab880</string>
	<key>STORAGE_BUCKET</key>
	<string>zespeedo-ab880.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599139585480:ios:e745a24b61a2d9220fc4fd</string>
</dict>
</plist>